<footer id="panel-footer">
  <div class="container">
    <div id="link-blocks" class="row">

      <div class="col-sm-5">
        <h3>Product</h3>
        <ul>
          <li><a href='http://spreecommerce.com/storefront'>Platform</a></li>
          <li><a href='http://spreecommerce.com/privacy_policy'>Privacy Policy</a></li>
          <li><a href='http://spreecommerce.com/terms_of_service'>Terms of Service</a></li>
        </ul>
        <h4>For any Help mail us at njain@grepruby.com </h4>
      </div>

      <div class="col-sm-3">
        <h3>Developers</h3>
        <ul>
          <li><a href="http://spreecommerce.com/storefront">Overview</a></li>
          <li><a href="http://guides.spreecommerce.com/developer">Documentation</a></li>
          <li><a href="http://spreecommerce.com/storefront">Community</a></li>
          <li><a href="https://github.com/spree/spree/blob/master/license.md" target="_blank">License</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>About Shopping Website</h3>
        <p>
          Spree Commerce is an automated enterprise solution built specifically for e_commerce. We effectively manage your operations so you can focus on serving your customers and growing your business.
        </p>
      </div>
      <div class="cl">&nbsp;</div>
        <div class="copy">
          <p>&copy; <a href="http://grepruby.com/", target="_blank">www.grepruby.com</a>. Design by <a>Grep Ruby</a></p>
        </div>
      </div>

    </div>
  </div>
</footer>
